/*
 * Globals
 */
@font-face {
    font-family: Poiret; /* Имя шрифта */
    src: url(/fonts/PoiretOne-Regular.ttf); /* Путь к файлу со шрифтом */
   }
@font-face {
    font-family: Merienda; /* Имя шрифта */
    src: url(/fonts/Merienda-Regular.ttf); /* Путь к файлу со шрифтом */
   }

@font-face {
    font-family: BilboSwashCaps; /* Имя шрифта */
    src: url(/fonts/BilboSwashCaps-Regular.ttf); /* Путь к файлу со шрифтом */
   }
@font-face {
    font-family: Calligraffitti; /* Имя шрифта */
    src: url(/fonts/Calligraffitti-Regular.ttf); /* Путь к файлу со шрифтом */
   }
/* Links */


/*
 * Base structure
 */

html,
body {
  min-height: 90%;
}
body {
  color: #454444;
  text-align: center;
  font-family: Poiret;
  font-weight: bold;
  background: url(images/rise_top_cities.png) top center repeat-x;
}
.text-center {
  text-align: center;
}

h1, h3, p, a
{
  font-weight: bold;
}
a:hover {
  text-decoration: none;
}
header {
  padding-top: 9em;
}
header h2{
  margin-top: 0;
}
.contacts{
  //text-align: left;
  //padding-left: 7em;
  margin-top: 2em;
}

/* Padding for spacing */
.main 
{
  padding:0.5em 0 4em 0;
}
.logo 
{
  height:123px;
  width: 100px;
  float: left;
  background: url(images/baloon.png) no-repeat bottom left;
  background-size: 7em;
}
.logo-text {
  float: left;
  font-size: 95px;
  font-family: BilboSwashCaps;
  font-weight: normal;
  line-height: 1;
  margin-top: 30px;
}
.copy 
{
  font-weight: bold;
  font-size: 0.6;
}

@media (min-width: 768px) {

}
footer
{
	padding-bottom: 1em;
}



/*
 * Footer
 */



/*
 * Affix and center
 */

@media (max-width: 480px) {
	body
	{
		background-size: 40em;
	}
  header {
    padding-top: 3em!important;
  }
  h1 {
    font-size: 26px;
  }
  h2 {
    font-size: 20px;
  }
	.logo 
	{
    height: 107px;
    width: 90px;
    background: url(images/baloon.png) no-repeat bottom;
    background-size: 5em;
    float: none;
    margin: 0 auto;
	}
  .logo-text{
    font-size: 75px;
    float: none;
    margin: 0 auto;
  }
 	.main
 	{
 		padding: 1em 0 3em 0;
 	}
}

@media (min-width: 992px) and (max-width: 1024px) {
  .logo{
    margin-left: 4em;
  }
}
